[Desktop Entry]
Type=Application
Name=DKR-R
GenericName=Diddy Kong Racing - Recompiled
Comment=Faithful cross-platform recompilation of Diddy Kong Racing
Exec=DKR-R
Icon=dkr-r
Terminal=false
Categories=Game;ArcadeGame;
StartupNotify=true
StartupWMClass=DKR-R
